<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>A webpack-express application</title>
  meta( property="test-dynamic"
        content = imageUrl
  )
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
</head>
<body>
  <div>
    imageUrl
  </div>
  <div id="app"></div>
  <script>__REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__</script>
  <script type="text/javascript" src="/assets/app.js"></script>
</body>


</html>
